* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #101820;
  font-family: Arial, Helvetica, sans-serif;
}

.counter-container {
  width: 350px;
  height: 600px;
  background: #ffffff;
  border-radius: 40px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
  border: 7px solid #000;
  position: relative;
}

.counter-container::before {
  content: "";
  width: 100px;
  height: 25px;
  background: #000;
  border-radius: 0 0 8px 10px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
